<!--svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
    <ellipse cx="31" cy="40.9717" rx="14" ry="8.0283" fill="#009688"/>
    <ellipse cx="31.2979" cy="20.3774" rx="8.93617" ry="8.37736" fill="#009688"/>
    <rect x="0.5" y="0.5" width="60" height="60" rx="30" stroke="#908D8D" stroke-opacity="0.15"/>
  </svg>
  <div class="w-[61px] h-[61px] left-[93%] top-[25px] absolute rounded-[50%] border border-stone-400 border-opacity-20 justify-center items-center">
    <fa-icon 
    
    [icon]="faUser" size="xl" 
    class="icon"
   
    ></fa-icon>

  </div-->

  <div class="w-[50px] h-[50px] left-[85%] sm:w-[61px] sm:h-[61px] sm:left-[94%] top-[25px] absolute rounded-[50%] border border-stone-400 border-opacity-20 ">
    <div class="w-7 h-[30px] left-[10px] top-[2px] sm:h-[37px] sm:left-[17px] sm:top-[12px] absolute justify-center items-center">
        <div class="w-7 h-[16.06px] left-0 top-[20.94px] absolute bg-teal-600 rounded-full"></div>
        <div class="w-[17.87px] h-[16.75px] left-[5.36px] top-0 absolute bg-teal-600 rounded-full"></div>
    </div>
</div>
  