<div class="w-[17%] h-[152px] left-0 lg:left-[55%] top-[220px] lg:top-[14px] absolute">
    <app-progress 
    class="w-[152px] h-[152px] rounded-[50%] left-0 top-0 absolute
    bg-[radial-gradient(closest-side,white_80%,transparent_80%_100%),conic-gradient(blue_64%,#DADADA_0)]"
    >
    </app-progress>
    <div class="w-[111px] h-[59px] left-[165px] top-[12px] absolute text-black text-5xl font-light font-['Poppins']">64%</div>
    <app-label class="left-[165px] top-[94px] absolute text-stone-400 text-2xl font-light font-['Poppins']">Completed</app-label>
</div>
