<!--div class="space-x-14 > * + * items-center p-5">
    <app-link linkPath="/classes">Classes</app-link>
    <app-link linkPath="/dashboard">Dashboard</app-link>
    <app-progress></app-progress>
</div-->

<div class="sm:space-x-[50px]">
    <app-link class="left-[20%] top-[70px] sm:top-[37px] sm:left-[45.7%] relative text-stone-400 text-2xl  font-['Poppins'] ">Classes</app-link>
    <app-link class="left-[50%] top-[70px] sm:top-[37px] sm:left-[53%] relative text-stone-400 text-2xl font-['Poppins']">Dashboard</app-link>

</div>
