
    <!--div 
    class="w-[98%] h-[90%] lg:h-[224px]  lg:pl-[1%] pr-[2%] pt-[1.4%] pb-3.5 left-[2%] top-[135px] absolute bg-white rounded-[10px] border border-stone-400 border-opacity-25 justify-start items-center inline-flex"
    >
        <div class="w-[100%]  lg:h-48 flex">
            <app-course-name></app-course-name>
            <app-course-progress></app-course-progress>
            <app-course-lessons></app-course-lessons>
    
        </div>
    </div -->
    <h1>Hello Mr Samuel You still have long way to go</h1>
    <h1 class="text-base text-green-800">Good evening Samuel</h1>
    <ng-container
        class="text-base bg-cyan-400 text-green-800"
        *ngIf="courses$ | async as courses;"
    >
    <ul *ngIf="courses.length;">
        <li *ngFor="let course of courses$ | async; let i=index;">
            {{course.name}}
            {{course.author}}
            {{course.progress}}
            {{course.lessons}}
        </li>

    </ul>

    </ng-container>
    <button class="mr-[20px] border border-blue-600 p-2 rounded-[10px] bg-cyan-100" (click)="loadCourses()">Refresh</button>
    <button class="mr-[20px] border border-blue-600 p-2 rounded-[10px] bg-cyan-100" (click)="addCourse(courses.length + 1)">Add</button>
   
   