<!--div
class=" flex justify-start text-dark-green text-2xl  "
>
    <img src="../../../images/logo.png" alt="logo">
   <span>Courses&ensp;</span> H<span class="text-orange">School</span>
</div-->
<div class="left-[2%] top-[28px] absolute ">
    <div class="left-0 top-0 absolute text-teal-600 text-4xl font-bold font-['Poppins']">Courses</div>
    <div class="left-[135px] top-0 absolute"><span class="text-teal-600 text-4xl font-bold font-['Poppins']">H</span><span class="text-rose-500 text-4xl font-bold font-['Poppins']">School</span></div>
</div>
