<div class="w-[0] h-[35%] left-0 lg:w-[10%] lg:h-[0] lg:left-[78%] top-[400px] lg:top-[166.03px] origin-top-left -rotate-90 border border-stone-400 border-opacity-25 bg-lime-200 absolute"></div>
    <div class="w-[100%] lg:w-[35%] h-[182px] left-0 xl:left-[80%] top-[450px]  lg:top-0 absolute">
        <app-label class="left-0 lg:top-0 absolute text-stone-400 text-2xl  font-['Poppins']">CURRENT COURSE</app-label>
        <app-text class="left-0  top-[35px] absolute text-black text-5xl  font-['Poppins']">Lesson 24</app-text>
        <div class="w-[98%] lg:w-[63%] h-16 pl-[5%] pr-[5%] py-3.5 left-[2px] top-[118px] absolute bg-teal-600 rounded-[5px] border border-teal-600 justify-center items-center inline-flex">
            <app-button class="text-white text-2xl font-['Poppins']"> UPDATE PROGRESS </app-button>
        </div>
    </div>
