<div class=" w-[100%] h-[200px] lg:w-[60%] lg:h-48 left-0 top-0 absolute "
>
    <app-label class="left-[4px] top-0 absolute text-stone-400 text-2xl  font-['Poppins']">Course Name</app-label>
    <app-text class="left-[4px] top-[36px] absolute text-black text-[1.25rem] lg:text-[32px] font-semibold font-['Poppins']">{{course.name}}</app-text>
    <app-label class="left-[4px] top-[90px] absolute text-teal-600 text-xl  font-['Poppins']">{{course.author}}</app-label>
    <div class="w-[67px] h-[50px] pl-4 pr-[15px] py-2.5 left-1 top-[142px] absolute rounded-[5px] shadow border border-teal-600 justify-center items-center inline-flex">
        <app-button class="text-teal-600 text-xl  font-['Poppins']">Edit</app-button>
    </div>
    <div class="w-[109px] h-[50px] text-xl pr-[20px] py-2.5 left-[77px] top-[142px] absolute rounded-[5px] shadow border border-rose-500 justify-end items-center inline-flex">
        <app-button class="text-rose-500 font-['Poppins']">Remove</app-button>
    </div>
</div>
